@import "../style/index";

.common-pagination {
  position: relative;
  margin: 11px;
  height: 25px;
  line-height: 25px;


  .total-fixed-left {
    position: absolute;
    left: 15px;
  }
  .ant-pagination {
    float: right;
  }
}