otms-move = "\e9c8"
otms-fintech-logo = "\e9c6"
otms-weibo-2 = "\e9bf"
otms-linkedin-2 = "\e9c0"
otms-bank = "\e9c1"
otms-sell = "\e9c2"
otms-invoice-review = "\e9bb"
otms-invoice-audit = "\e9bc"
otms-zoom-out = "\e9b9"
otms-zoom-in = "\e9ba"
otms-reject-reason = "\e9b8"
otms-approve = "\e9b3"
otms-fap-download-icon = "\e9b4"
otms-compare = "\e9b5"
otms-attach = "\e9b6"
otms-my-order = "\e9c5"
otms-report = "\e9c4"
otms-rfq = "\e9c3"
otms-help-2 = "\e9be"
otms-milestone = "\e9bd"
otms-wechat-share = "\e9b7"
otms-wechat-2 = "\e9b2"
otms-role-transition = "\e9b1"
otms-file-upload = "\e9ae"
otms-text-2 = "\e9af"
otms-single-choice = "\e9b0"
otms-drag-icon = "\e9ad"
otms-rfi-reply = "\e9ac"
otms-merge = "\e9ab"
otms-freightpartner-logo-zh = "\e99a"
otms-freightpartner-logo-en = "\e9aa"
otms-freight-partner-icon = "\e9a9"
otms-qualified = "\e9a7"
otms-unqualified = "\e9a8"
otms-dinosaur = "\e9a4"
otms-rfi-blocked = "\e9a5"
otms-rfi-waiting = "\e9a6"
otms-white-paper = "\e9a2"
otms-invite = "\e9a3"
otms-save = "\e99f"
otms-company-profile = "\e9a0"
otms-rfi-account = "\e9a1"
otms-rfi-apply = "\e99d"
otms-rfi-edit = "\e99e"
otms-rfi-avatar = "\e99c"
otms-mail = "\e99b"
otms-logo-otms-l = "\e998"
otms-iphone = "\e995"
otms-logo-oygm = "\e996"
otms-website = "\e997"
otms-more = "\e994"
otms-TMS = "\e991"
otms-logo = "\e992"
otms-long-arrow = "\e98d"
otms-sliders = "\e98e"
otms-truck = "\e98f"
otms-billing-check = "\e990"
otms-shop = "\e993"
otms-twarehouse = "\e989"
otms-trdc = "\e98a"
otms-tndc = "\e98b"
otms-thub = "\e98c"
otms-qrcode = "\e999"
otms-scan-code = "\e987"
otms-list-wechat = "\e988"
otms-enlarge = "\e9bd"
otms-no-result = "\e976"
otms-info = "\e960"
otms-pickupanddelivery = "\e95d"
otms-pickup = "\e95e"
otms-delivery = "\e95f"
otms-emphasize = "\e959"
otms-map = "\e979"
otms-Start-path1 = "\e93f"
otms-Start-path2 = "\e940"
otms-Play = "\e941"
otms-Pickup-path1 = "\e943"
otms-Pickup-path2 = "\e944"
otms-Pickup-path3 = "\e945"
otms-Pause = "\e946"
otms-multipleevent-path1 = "\e947"
otms-multipleevent-path2 = "\e948"
otms-multipleevent-path3 = "\e949"
otms-multipleevent-path4 = "\e94a"
otms-multipleevent-path5 = "\e94b"
otms-multipleevent-path6 = "\e94c"
otms-hub-path1 = "\e94d"
otms-hub-path2 = "\e94e"
otms-hub-path3 = "\e94f"
otms-End-path1 = "\e950"
otms-End-path2 = "\e951"
otms-dropoff-path1 = "\e952"
otms-dropoff-path2 = "\e953"
otms-dropoff-path3 = "\e954"
otms-Delay-path1 = "\e955"
otms-Delay-path2 = "\e956"
otms-Delay-path3 = "\e957"
otms-Delay-path4 = "\e958"
otms-help = "\e982"
otms-ec = "\e983"
otms-billing = "\e984"
otms-dock = "\e985"
otms-datacenter = "\e986"
otms-avatar = "\e981"
otms-mobile-back = "\e980"
otms-minus = "\e97f"
otms-op-settings = "\e97e"
otms-back = "\e97a"
otms-handshake = "\e97b"
otms-star = "\e97c"
otms-event = "\e978"
otms-email_available = "\e974"
otms-load_available = "\e975"
otms-intransit = "\e973"
otms-remove = "\e971"
otms-search = "\e972"
otms-compensation = "\e96e"
otms-discrepancy = "\e96f"
otms-rejection = "\e970"
otms-filter = "\e96c"
otms-weibo = "\e969"
otms-wechat = "\e96a"
otms-linkedin = "\e96b"
otms-otmslogo = "\e968"
otms-view = "\e964"
otms-reject = "\e965"
otms-recall = "\e966"
otms-downloadAll = "\e967"
otms-file = "\e95a"
otms-uploadFiles = "\e95b"
otms-special_charge = "\e93d"
otms-timeline_release = "\e93e"
otms-timeline_exception = "\e935"
otms-timeline_ePOD = "\e936"
otms-timeline_dispatch = "\e937"
otms-timeline_delivery = "\e938"
otms-timeline-billing = "\e961"
otms-timeline-created = "\e962"
otms-timeline-pickup = "\e963"
otms-wrongMilestone = "\e939"
otms-specialFee = "\e93a"
otms-epod = "\e93b"
otms-complain = "\e93c"
otms-Plus = "\e977"
otms-location = "\e95c"
otms-exclamation = "\e934"
otms-error = "\e933"
otms-accept-btn = "\e930"
otms-add = "\e931"
otms-propose-btn = "\e932"
otms-close = "\e92e"
otms-propose = "\e92f"
otms-copy = "\e926"
otms-create = "\e927"
otms-delete = "\e928"
otms-dropdown = "\e929"
otms-edit = "\e92a"
otms-forward = "\e92b"
otms-numeric = "\e92c"
otms-text = "\e92d"
otms-notification = "\e924"
otms-settings = "\e925"
otms-refresh = "\e923"
otms-calendar = "\e922"
otms-truckonmap-path1 = "\e91b"
otms-truckonmap-path2 = "\e91c"
otms-truckonmap-path3 = "\e91d"
otms-truckonmap-path4 = "\e920"
otms-truckonmap-path5 = "\e921"
otms-capacity = "\e90f"
otms-done = "\e911"
otms-emptypageicon = "\e912"
otms-errormessage = "\e913"
otms-lastseen = "\e914"
otms-length = "\e915"
otms-mobile = "\e916"
otms-QTY = "\e917"
otms-trucktype = "\e918"
otms-volum = "\e919"
otms-weight = "\e91a"
otms-milestone-billing = "\e900"
otms-milestone-created = "\e901"
otms-milestone-delivery = "\e902"
otms-milestone-dispatch = "\e903"
otms-milestone-epod = "\e904"
otms-milestone-intransit-event = "\e905"
otms-milestone-pickup = "\e906"
otms-milestone-release = "\e907"
otms-milestone-SLA = "\e908"
otms-timeline-exception = "\e909"
otms-timeline-order-file = "\e90a"
otms-equalizer = "\e90e"
otms-equalizer2 = "\e90d"
otms-star-empty = "\e91e"
otms-star-half = "\e91f"
otms-star-full = "\e910"
otms-checkmark = "\e97d"
otms-export = "\e90b"
otms-share-link = "\e90c"
